<div class="white-bg">
  <div class="row text-center">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h4 class="text-muted">月订阅</h4>
          <div class="price display-3"><span>129元</span><small> / 月</small></div>
          <div class="mb-3 text-muted">按月付</div>
        </div>
      </div> 
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h4 class="text-muted">季度订阅<span class="text-primary">「节省 ¥60」</span></h4>
          <div class="price display-3"><span>109元</span><small> / 月</small></div>
          <div class="mb-3 text-muted">按一季度三个月付</div>
        </div>
      </div> 
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h4 class="text-muted">年订阅<span class="text-primary">「节省 ¥480」</span></h4>
          <div class="price display-3"><span>99元</span><small> / 月</small></div>
          <div class="mb-3 text-muted">按一年十二个月付</div>
        </div>
      </div> 
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center mb20">支付流程</h3>
      <h5>1. 请先阅读本站 <a href="terms">服务条款</a>，如果您使用我们的服务表示您已同意本条款。</h5>
      <h5>2. 加我微信（微信号：<span class="heart-green">15014006126</span>）后，发微信红包或转账于我，如果是打赏，请发打赏截图。如果没有微信，也可以支付宝转我（<span class="heart-green">ganweiliang886@gmail.com</span>）。</h5>
      <h5>3. 发送您的用户id: <span class="heart-green"><%= user_signed_in? ? current_user.id : "登录后刷新本页可查看" %></span> 给我，我好针对客户进行订单处理。</h5>
      <h5>4. 我收到钱后会在后台处理订单，处理结果即时通知，然后就可以观看 Pro 视频。</h5>
      <h5>5. 我会拉您进微信群，可以进行更多交流互动。</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center mb20">FAQ</h3>
      <div class="mb20">
        <h5>1. 视频更新频率？</h5>
        <p>准备好视频内容后，一般是一天 2 到 4 个视频。</p>
      </div>
      <div class="mb20">
        <h5>2. 优惠？</h5>
        <p>学生党？刚出来工作？以前微信打赏过？加我微信私聊</p>
      </div>
      <div class="mb20">
        <h5>3. 可以下载？</h5>
        <p>只有 Pro 学员可以下载，另外季度 Pro 学员（累积订阅 3 个月）可以一键下载播放列表所有视频</p>
      </div>
      <div class="mb20">
        <h5>4. Pro 会员会拉入微信群？</h5>
        <p>必须的</p>
      </div>
    </div>
  </div>

  <div class="row mt20">
    <div class="col-md-12">
      <h3 class="text-center mb20">学员评价（部分例举）</h3>
    </div>
  </div>

  <div class="row mt5">
    <div class="col-md-3">
      <%= image_tag "students/1.png", class: "img100" %>
    </div>

    <div class="col-md-3">
      <%= image_tag "students/2.png", class: "img100" %>
    </div>

    <div class="col-md-3">
      <%= image_tag "students/3.png", class: "img100" %>
    </div>

    <div class="col-md-3">
      <%= image_tag "students/4.png", class: "img100" %>
    </div>
  </div>

  <div class="row" style="margin-top: 50px;">
    <div class="col-md-12">
      <h3 class="text-center mb20">学员买单（部分例举）</h3>
    </div>
  </div>

  <div class="row mt5">
    <div class="col-md-3">
      <%= image_tag "students/5.png", class: "img100" %>
    </div>

    <div class="col-md-3">
      <%= image_tag "students/6.png", class: "img100" %>
    </div>

    <div class="col-md-3">
      <%= image_tag "students/7.png", class: "img100" %>
    </div>

    <div class="col-md-3">
      <%= image_tag "students/8.png", class: "img100" %>
    </div>
  </div>
</div>
